<form [formGroup]="formulario" (ngSubmit)="enviar_formualrio()">


  <!-- (mat-form-field>mat-label+input[matInput][formControlName]+mat-error)*19 -->
  
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="Nombre">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido Paterno</mat-label>
    <input type="text" matInput formControlName="Apellido_paterno">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido Materno</mat-label>
    <input type="text" matInput formControlName="Apellido_materno">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Nacimiento</mat-label>
    <input type="text" matInput formControlName="FechaNacimiento">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Calle</mat-label>
    <input type="text" matInput formControlName="Calle">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Numero</mat-label>
    <input type="text" matInput formControlName="Numero">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Colonia</mat-label>
    <input type="text" matInput formControlName="Colonia">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Codigo Postal</mat-label>
    <input type="text" matInput formControlName="Codigo_postal">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Puesto</mat-label>
    <input type="text" matInput formControlName="Puesto">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sueldo</mat-label>
    <input type="text" matInput formControlName="Sueldo">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cuenta de Banco</mat-label>
    <input type="text" matInput formControlName="Cuenta_banco">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Ingreso</mat-label>
    <input type="text" matInput formControlName="FechaIngreso">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de Salida</mat-label>
    <input type="text" matInput formControlName="FechaSalida">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Area</mat-label>
    <input type="text" matInput formControlName="AreaID">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>banco</mat-label>
    <input type="text" matInput formControlName="bancoID">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supervisor</mat-label>
    <mat-select formControlName="SupervisorID">
      <mat-option></mat-option>
    </mat-select>
    
  <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dias de Vacaciones Permitidos</mat-label>
    <input type="text" matInput formControlName="DiasVacacionesPermitidos">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dias Vacaciones Restantes</mat-label>
    <input type="text" matInput formControlName="DiasVacacionesRestantes">
    <mat-error>Agrega un valor valido</mat-error>
  </mat-form-field>

  <button type="button" (click)="agregar_subtrabajador(formulario.value.TrabajadorID)">agregarsubtrabajador</button>
<div formArrayName="subtrabajadores">
@for(subtrabajador of obtener_subtrabajdores().controls;track subtrabajador;let indice_subtrabajador=$index){
<div [formGroupName]="indice_subtrabajador">
<mat-form-field>
  <mat-label>subtrabajador</mat-label>
  <mat-select formControlName="TrabajadorID">
    <mat-option></mat-option>
  </mat-select>
  <mat-error>Agrega un valor valido</mat-error>
</mat-form-field>
<button type="button" (click)="eliminar_subtrabajador(indice_subtrabajador)">Borrar</button>
</div>
}
</div>
<button type="submit">enviar</button>
</form>
