<form [formGroup]="formulario" (ngSubmit)="Enviar()">
    <mat-form-field>
        <mat-label>trabajador</mat-label>
        <mat-select formControlName="TrabajadorID">
          <mat-option></mat-option>
        </mat-select>
        <mat-error>Agrega un valor valido</mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="FechaInicio" placeholder="Start date">
          <input matEndDate formControlName="FechaFin" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
      </mat-form-field>
      
      
      
</form>