

<form [formGroup]="formulario" (ngSubmit)="Enviar()">
    <mat-form-field>
        <mat-label> Nombre del Area </mat-label>
        <input type="text" matInput="" formControlName="NombreArea">
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Encargado </mat-label>

        <mat-select formControlName="EncargadoID"> <mat-option> </mat-option></mat-select>
        <mat-error></mat-error>
    </mat-form-field>
    <button type="button" (click)="Eliminar() ">Borrar</button>

    <button type="submit">Guardar</button>
</form>
