<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="AreaID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.AreaID}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="NombreArea">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.NombreArea}} </td>
    </ng-container>
  

    <ng-container matColumnDef="EncargadoID">
      <th mat-header-cell *matHeaderCellDef> Encargado </th>
      <td mat-cell *matCellDef="let element"> {{element.EncargadoID}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  